<app-menubar (toggleSideMenu)="openSideMenu($event)"></app-menubar>
<app-sidebar [showSideBar]="displaySideMenu"></app-sidebar>

<div class="container content">
	<div class="row">
		<div class="col">
			<p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="6000">
				<ng-template let-image pTemplate="item">
					<div class="image-details container">
						<div class="row">
							<div class="col">
								<img src="../../../assets/img/{{ image.src }}.png">
							</div>
						</div>
					</div>
				</ng-template>
			</p-carousel>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<p-header>
				<h3>Placeholder</h3>
			</p-header>
		</div>
		<div class="col-6">
			<p-header>
				<h3># of jobs by location</h3>
			</p-header>
		</div>
	</div>
</div>