<div class="container content">
	<div class="row">
		<div class="col-12 hero-image">
			<div class="image-wrapper">
				<div class="row">
					<div class="col-2 offset-md-10">
						<p-button label="Login" icon="pi pi-sign-in" iconPos="left" [routerLink]="['/login']" styleClass="ui-button-secondary"></p-button>
					</div>
					<div class="col-2 offset-md-10">
						<p-button label="Register" icon="pi pi-user-plus" iconPos="left" [routerLink]="['/register']" styleClass="ui-button-secondary"></p-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>