.content {
	padding: 0;
	overflow-x: hidden;

	.image-wrapper {
		width: 1920px;
		height: 800px;
		background-image: url('../../../assets/img/laptop.jpg');

		.row {
			padding-top: 20%;

			.col-2{
				margin-top: 5px;
			}
		}
	}
}