<div class="container content">
	<div class="row">
		<div class="col-12 hero-image">
			<div class="image-wrapper">
				<div class="row">
					<div class="col-2 offset-md-10">
						<p-button label="Login" icon="pi pi-sign-in" iconPos="left" [routerLink]="['/login']" styleClass="ui-button-secondary"></p-button>
					</div>
					<div class="col-2 offset-md-10">
						<p-button label="Register" icon="pi pi-user-plus" iconPos="left" [routerLink]="['/register']" styleClass="ui-button-secondary"></p-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class = "team-wrapper">
			<div class = "team">OUR TEAM</div>
			<div class="row">
					<div class="col-2">
						<a href = "https://www.linkedin.com/in/argomezjr/"><img src = '../../../assets/img/armando.jpg' class = "headshot"></a>
						<div class = "name">armando gomez</div>
					</div>
					<div class="col-2">
						<a href = "https://www.linkedin.com/in/marcin-filipek-916083186/"><img src = '../../../assets/img/marcin.jpg' class = "headshot"></a>
						<div class="name">marcin filipek</div>
					</div>
					<div class="col-2">
						<a href = "https://www.linkedin.com/in/kai-sanchez-129194198/"><img src = '../../../assets/img/kai.jpeg' class = "headshot"></a>
						<div class = "name">kai sanchez</div>
					</div>
					<div class="col-2">
						<a href = "https://github.com/deantasi"><img src = '../../../assets/img/dean.jpg' class = "headshot"></a>
						<div class = "name">dean tasiopoulos</div>
					</div>
					<div class="col-2">
						<a href = "https://www.linkedin.com/in/chaeyoungwohn/"><img src = '../../../assets/img/chae.jpg' class = "headshot"></a>
						<div class = "name">chae wohn</div>
					</div>
					<div class="col-2">
						<a href = "https://www.linkedin.com/in/john-woywod-2b1884182/"><img src = '../../../assets/img/john.jpeg' class = "headshot"></a>
						<div class = "name">john woywod</div>
					</div>
			</div>
		</div>
	</div>
</div>