<app-menubar (toggleSideMenu)="openSideMenu()"></app-menubar>
<app-sidebar [showSideBar]="displaySideMenu" [page]="pageName" (sideBarState)="updateSideBarState()"></app-sidebar>

<div class="container">
	<div class="content">
		<ng-container *ngFor="let message of inbox">
			<div class="row message-item">
				<div class="col-5">
					<div class="row">
						<div class="col-12 message-name">
							<h4>{{ message.firstname }} {{ message.lastname }}</h4>
						</div>
						<div class="col-12 message-usertype">
							<p>{{ message.usertype }}</p>
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="row">
						<div class="col-12">
							<h4>Subject:</h4>
							<p>{{ message.subject }}</p>
						</div>
						<div class="col-12">
							<h4>Message:</h4>
							<p>{{ message.body }}</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>