<p-sidebar [(visible)]="showSideBar">
	<div class="container">
		<img src="../../../assets/img/logo.png" alt="logo">
		<ul class="list-group list-group-flush">
			<button type="button" class="list-group-item list-group-item-action active"  routerLink="/dashboard">Home</button>
			<button type="button" class="list-group-item list-group-item-action" routerLink="/charts">Charts</button>
			<button type="button" class="list-group-item list-group-item-action" routerLink="/jobs">Jobs</button>
			<button type="button" class="list-group-item list-group-item-action" routerLink="/messages">Messages</button>
		</ul>
	</div>
</p-sidebar>