<p-menubar [model]="items">
	<div class="right-menu" (click)="op.toggle($event, opTarget)">
		<a class="right-menuitem">
			<span *ngIf="user" class="right-menuitem-label">Welcome, {{ user.firstname}} {{ user.lastname }}</span>
			<span class="pi pi-caret-down right-menuitem-icon" #opTarget></span>
		</a>
	</div>
</p-menubar>

<p-overlayPanel #op [dismissable]="true">
	<div class="container">
		<ul class="list-group list-group-flush">
			<button type="button" class="list-group-item list-group-item-action" (click)="openProfile()">Profile</button>
			<button type="button" class="list-group-item list-group-item-action" (click)="logout()">Logout</button>
		</ul>
	</div>
</p-overlayPanel>