// ::ng-deep .ui-menubar {
// 	padding-left: 2% !important;
// 	padding-right: 2% !important;
// }

::ng-deep .ui-menubar .ui-menubar-custom {
	padding: 0;

	.right-menu {
		display: block;
		padding: 0.714em 0.857em;

		.right-menuitem {
			display: block;
			position: relative;

			.right-menuitem-icon  {
				color: #333333;
				margin-left: .5em;
				vertical-align: middle;
			}
 		}
	}

	.right-menu:hover {
		background-color: #eaeaea;
	}
}
